/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* LAYOUT STYLES
/*******************************************/

/* body styling */
body {
     border-left: 250px solid white;
}

/* header styling */

header {
     top: 0;
     bottom: 0;
     width: 250px;
     position: absolute;
     border-left: 0;
}

nav {
     height: 100%;
     width: 250px;
}

/* main styling */

main {
     float: left;
     width: 100%;
}

/* section styling */