/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}


/******************************************
/* LAYOUT
/*******************************************/

/* header styling */
header {
     height: 75px;
     border-bottom: 0.8px solid black;
}

nav * {
     float: left;
     width: 20%;
     margin-top: 28px;
     color: blue;
}

nav>a {
     padding: 0 0 0 300px;
}

nav form {
     width: 16%;
     margin-top: 25px;
}

nav input {
     width: 50%;
     margin-top: 0;
}

nav img {
     height: 60px;
     width: 500px;
     margin-top: 7px;
     padding: 0 130px 0 120px;
}

nav ul {
     list-style: none;
     width: 400px;
     margin: 0;
     padding-left: 100px;
}

nav ul li {
     width: 50px;
     margin: 0;
}

a {
     text-decoration: none;
}

/* main styling */
main {
     height: 750px;
}

main>section {
     float: left;
     width: 50%;
     height: 750px;
}

main img {
     width: 600px;
     height: 600px;
     margin: 75px 0;
}

main>section+section {
     padding: 75px 25% 75px 0;
}